/*
.map {
    width: 100%;
    height: 610px;
   float:    left; 
  }
*/
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  #detalle{
      width:245px;
      height:auto;
      font-size:9px;
      font-family:Verdana;
  }
  #detalleResulta{
      width:245px;
      height:auto;
      font-size:9px;
      font-family:Verdana;
  }
  html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}

#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}

.leaflet-control-layers {
  
  overflow: auto;
 }
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

.leaflet-touch .leaflet-control-layers {
  border: 0px solid rgba(0,0,0,0.01);
  width: 100%;
  background-clip
}
.iconogroup {
  
  display: inline-block;
  width: 10%;
 }

.nomgroup {
  display: inline-block;
  width: 60%;
 }
